# Homework 2

The goal of this Homework is to write Python code to answer each of the questions below. You should be able to answer these questions using Pandas only. You should not need to import any other packages. You should not use Excel or any other means to answer these questions. **Since questions have subquestions, it would be helpful if you use comments to clearly indicate which question you are answering**.

## Introduction
The Centers for Medicare & Medicaid Services ([CMS](cms.gov)) is a federal agency within the United States Department of Health and Human Services (HHS) that administers the **Medicare program** and works in partnership with state governments to administer Medicaid, the Children's Health Insurance Program (CHIP), and health insurance portability standards.
 - **Medicare** is a national health insurance program that provides health insurance for Americans aged 65 and over

The **Medicare Part D** program, also called the Medicare prescription drug benefit, is an optional United States federal-government program to help Medicare beneficiaries pay for self-administered prescription drugs through prescription drug insurance premiums.

CMS maintains a lot of [public info](https://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Provider-Charge-Data/Part-D-Prescriber) on prescription drugs that are prescribed by individual physicians and other health care **providers** and paid for under the **Medicare Part D** Prescription Drug Program.

I downloaded the **2017 Provider Summary table** and sampled it down from 1.1 million records (360 MB) to roughly 6000 records (2MB). If you would like to check out the original dataset, you can download it from this site https://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Provider-Charge-Data/PartD2017   

But for this assignment, you need to use the provided downsampled dataset `part_d_drug_prescriptions_sample2.csv`. If you would like, the data dictionary is available [here](https://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Provider-Charge-Data/Downloads/Prescriber_Methods.pdf). The applicable section is Table 2 in the Appendix.

In [1]:
import pandas as pd
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_rows', 200)

## Question 1

Use Pandas to import **part_d_drug_prescriptions_sample2.csv** into a DataFrame, named `part_d`. How many rows and colums does the dataset have?

In [2]:
#importing csv

part_d = pd.read_csv('/Users/user/Desktop/Medicare/part_d_drug_prescriptions_sample2.csv')

In [3]:
#find number of rows in dataframe

len(part_d)

5815

In [4]:
#find number of columns in dataframe

len(part_d.columns)

84

## Question 2
This question has two parts:
1. Display the first 6 rows of `part_d`.
2. Display the last 6 rows of `part_d`.

In [5]:
#display the first 6 rows in the dataframe

part_d.head(6)

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,beneficiary_male_count,beneficiary_race_white_count,beneficiary_race_black_count,beneficiary_race_asian_pi_count,beneficiary_race_hispanic_count,beneficiary_race_nat_ind_count,beneficiary_race_other_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,92.0,220.0,14.0,0.0,0.0,0.0,0.0,143.0,91.0,2.1685
1,1003012022,CUDZILO,COREY,NaN,M.D.,M,I,2240 SUTHERLAND AVE,SUITE 103,KNOXVILLE,...,35.0,NaN,NaN,0.0,NaN,0.0,0.0,49.0,33.0,2.5022
2,1003020041,BAXTER,MARGARET,NaN,M.D.,F,I,1100 LONG POND RD,SUITE 250,ROCHESTER,...,221.0,544.0,NaN,NaN,17.0,0.0,26.0,515.0,95.0,1.0164
3,1003031212,KAYALI,FADI,NaN,M.D.,M,I,600 N CATTLEMEN RD,SUITE 200,SARASOTA,...,140.0,249.0,NaN,NaN,NaN,0.0,NaN,229.0,45.0,2.4311
4,1003043175,BENSON,REBECCA,L,D.D.S.,F,I,6601 LYNDALE AVE S,NaN,RICHFIELD,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,20.0,0.0,1.0910
5,1003054206,SEILER,WARREN,B,MD,M,I,2700 ROGERS DR,SUITE 101,HOMEWOOD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#display the last 6 rows in the dataframe

part_d.tail(6)

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,beneficiary_male_count,beneficiary_race_white_count,beneficiary_race_black_count,beneficiary_race_asian_pi_count,beneficiary_race_hispanic_count,beneficiary_race_nat_ind_count,beneficiary_race_other_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score
5809,1992936330,MANLEY,CHRISTOPHER,J,MD,M,I,333 COTTMAN AVE,NaN,PHILADELPHIA,...,25.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,2.5471
5810,1992949150,WANG,AMY,M,MD,F,I,3130 N COUNTY ROAD 25A,NaN,TROY,...,73.0,168.0,24.0,NaN,NaN,0.0,NaN,146.0,58.0,2.0090
5811,1992961429,PARKER,MELINDA,S,PA-C,F,I,3209 S 23RD ST,STE 340,TACOMA,...,59.0,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.9592
5812,1992969141,BURKART,NORA,E,M.D.,F,I,1805 HENNEPIN AVE N,NaN,GLENCOE,...,11.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,1.3618
5813,1992980767,TANAWUTTIWAT,TANYANAN,NaN,M.D.,F,I,2500 N STATE ST,NaN,JACKSON,...,84.0,NaN,79.0,NaN,NaN,NaN,0.0,75.0,78.0,2.0090
5814,1992994446,PATETE,MICHAEL,L,"MD, FACS",M,I,213 PALERMO PL,NaN,VENICE,...,472.0,951.0,NaN,NaN,NaN,NaN,19.0,948.0,35.0,1.2319

## Question 3
This question has 4 parts:
1. Use the `info()` function to examine the DataFrame from a high level. Take a moment to look at the number of non-null values and the datatypes of each column. 
2. How many non-null values does the `npi` column have? (Use the output of the `info()` function to answer this question.)
3. What is the data type of the `npi` column? (Use the output of the `info()` function to answer this question.)
4. The purpose of this question is to understand the data you are looking at. The `npi` stands for National Provider Identifier. Please provide a one or two sentence description of the NPI - you may use a web search (google/wikipedia/etc...) to answer this question.

In [7]:
#3.1 Use the info() function to examine the DataFrame from a high level. 

part_d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5815 entries, 0 to 5814
Data columns (total 84 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   npi                               5815 non-null   int64
 1   nppes_provider_last_org_name      5815 non-null   object
 2   nppes_provider_first_name         5815 non-null   object
 3   nppes_provider_mi                 4074 non-null   object
 4   nppes_credentials                 5461 non-null   object
 5   nppes_provider_gender             5815 non-null   object
 6   nppes_entity_code                 5815 non-null   object
 7   nppes_provider_street1            5815 non-null   object
 8   nppes_provider_street2            2107 non-null   object
 9   nppes_provider_city               5815 non-null   object
 10  nppes_provider_zip5               5815 non-null   float64
 11  nppes_provider_zip4               5031 non-null   float64
 12  nppes_provider_state              5815 non-null   object
 13  nppes_provider_country            5815 non-null   object
 14  specialty_description             5815 non-null   object
 15  description_flag                  5815 non-null   object
 16  medicare_prvdr_enroll_status      5815 non-null   object
 17  total_claim_count                 5815 non-null   int64
 18  total_30_day_fill_count           5815 non-null   float64
 19  total_drug_cost                   5815 non-null   float64
 20  total_day_supply                  5815 non-null   int64
 21  bene_count                        5186 non-null   float64
 22  ge65_suppress_flag                1295 non-null   object
 23  total_claim_count_ge65            4520 non-null   float64
 24  total_30_day_fill_count_ge65      4520 non-null   float64
 25  total_drug_cost_ge65              4520 non-null   float64
 26  total_day_supply_ge65             4520 non-null   float64
 27  bene_count_ge65_suppress_flag     2595 non-null   object
 28  bene_count_ge65                   3220 non-null   float64
 29  brand_suppress_flag               2324 non-null   object
 30  brand_claim_count                 3491 non-null   float64
 31  brand_drug_cost                   3491 non-null   float64
 32  generic_suppress_flag             1573 non-null   object
 33  generic_claim_count               4242 non-null   float64
 34  generic_drug_cost                 4242 non-null   float64
 35  other_suppress_flag               1224 non-null   object
 36  other_claim_count                 4591 non-null   float64
 37  other_drug_cost                   4591 non-null   float64
 38  mapd_suppress_flag                1096 non-null   object
 39  mapd_claim_count                  4719 non-null   float64
 40  mapd_drug_cost                    4719 non-null   float64
 41  pdp_suppress_flag                 1096 non-null   object
 42  pdp_claim_count                   4719 non-null   float64
 43  pdp_drug_cost                     4719 non-null   float64
 44  lis_suppress_flag                 1191 non-null   object
 45  lis_claim_count                   4624 non-null   float64
 46  lis_drug_cost                     4624 non-null   float64
 47  nonlis_suppress_flag              1191 non-null   object
 48  nonlis_claim_count                4624 non-null   float64
 49  nonlis_drug_cost                  4624 non-null   float64
 50  opioid_claim_count                4225 non-null   float64
 51  opioid_drug_cost                  4225 non-null   float64
 52  opioid_day_supply                 4225 non-null   float64
 53  opioid_bene_count                 3954 non-null   float64
 54  opioid_prescriber_rate            4225 non-null   float64
 55  la_opioid_claim_count             5099 non-null   float64
 56  la_opioid_drug_cost               5099 non-null   float64
 57  la_opioid_day_supply              5099 non-null   float64
 58  la_opioid_bene_count              4703 non-null   float64
 59  la_opioid_prescriber_rate         3340 non-null   float64
 60  antibiotic_claim_count            4112 non-null   float64
 61  antibiotic_drug_cost              4112 non-null   float64
 62  antibiotic_bene_count             3812 non-null   float64
 63  antipsych_ge65_suppress_flag      788 non-null    object
 64  antipsych_claim_count_ge65        5027 non-null   float64
 65  antipsych_drug_cost_ge65          5027 non-null   float64
 66  antipsych_bene_ge65_suppress_flg  1254 non-null   object
 67  antipsych_bene_count_ge65         4561 non-null   float64
 68  average_age_of_beneficiaries      5186 non-null   float64
 69  beneficiary_age_less_65_count     3220 non-null   float64
 70  beneficiary_age_65_74_count       2675 non-null   float64
 71  beneficiary_age_75_84_count       1815 non-null   float64
 72  beneficiary_age_greater_84_count  1935 non-null   float64
 73  beneficiary_female_count          4157 non-null   float64
 74  beneficiary_male_count            4157 non-null   float64
 75  beneficiary_race_white_count      2848 non-null   float64
 76  beneficiary_race_black_count      2004 non-null   float64
 77  beneficiary_race_asian_pi_count   2585 non-null   float64
 78  beneficiary_race_hispanic_count   2006 non-null   float64
 79  beneficiary_race_nat_ind_count    4176 non-null   float64
 80  beneficiary_race_other_count      1784 non-null   float64
 81  beneficiary_nondual_count         3455 non-null   float64
 82  beneficiary_dual_count            3455 non-null   float64
 83  beneficiary_average_risk_score    5186 non-null   float64
dtypes: float64(56), int64(3), object(25)
memory usage: 3.7+ MB

In [8]:
#3.2 How many non-null values does the npi column have? (Use the output of the info() function to answer this question.)

#5815

In [9]:
#3.3 What is the data type of the npi column? (Use the output of the info() function to answer this question.)

#integer

In [10]:
#3.4 Please provide a one or two sentence description of the NPI 

#The NPI Registry Public Search is a free directory of all active National Provider Identifier records. 
#Healthcare providers acquire a unique 10-digit NPIs to identify themselves in a standard way throughout 
#their industry.

## Question 4
Take a look at the `nppes_provider_state` column. Compute the number of unique values in this column using at least two different methods.

In [11]:
#Method 1

part_d['nppes_provider_state'].nunique()

55

In [12]:
#Method 2

len(part_d.nppes_provider_state.unique())

55

## Question 5
Let's take a look at the `specialty_description` column. Use the `value_counts()` method to determine the TOP 5 specialties in the dataset as well as their frequencies.

In [13]:
#Use the value_counts() method to determine the TOP 5 specialties and their frequencies.

part_d['specialty_description'].value_counts().nlargest(5)

Nurse Practitioner     785
Dentist                647
Internal Medicine      626
Family Practice        565
Physician Assistant    446
Name: specialty_description, dtype: int64

## Question 6
This question has four parts:
1. Define a variable `N` equal to the number of rows in the DataFrame, using the DataFrame `len` or `shape` methods.
2. Append the `cumsum()` function to the output of the `value_counts()` function on the `specialty_description` field  and divide the output by `N` to obtain the cumulative ratio to the total count. 
3. Create a boolean variable (eg a mask) which resolves to `True` if the cumulative sum is less than 75%, else `False`.
4. Use this boolean mask to filter the output of `value_counts()` to identify the columns that contribute to the first 75% of all specialities.

In [14]:
#6.1 Define a variable N equal to the number of rows in the DataFrame

N = len(part_d)
N

5815

In [15]:
#6.2 Converting to a dataframe first

x = part_d['specialty_description'].value_counts()

counts = pd.DataFrame(x)
counts

                                                    specialty_description
Nurse Practitioner                                                    785
Dentist                                                               647
Internal Medicine                                                     626
Family Practice                                                       565
Physician Assistant                                                   446
Emergency Medicine                                                    250
Student in an Organized Health Care Education/T...                    250
Obstetrics & Gynecology                                               203
Optometry                                                             168
Psychiatry                                                            152
General Surgery                                                       121
Ophthalmology                                                         115
Cardiology                                                             96
Orthopedic Surgery                                                     87
Podiatry                                                               87
Neurology                                                              74
Gastroenterology                                                       62
Dermatology                                                            60
Psychiatry & Neurology                                                 58
Pediatric Medicine                                                     52
Urology                                                                51
Hematology-Oncology                                                    49
Pulmonary Disease                                                      49
Otolaryngology                                                         46
General Practice                                                       45
Nephrology                                                             35
Pharmacist                                                             34
Endocrinology                                                          31
Hospitalist                                                            30
Anesthesiology                                                         30
Physical Medicine and Rehabilitation                                   29
Rheumatology                                                           29
Infectious Disease                                                     27
Radiation Oncology                                                     24
Oral Surgery (Dentist only)                                            23
Plastic and Reconstructive Surgery                                     23
Allergy/ Immunology                                                    23
Neurosurgery                                                           19
Interventional Cardiology                                              19
Pain Management                                                        18
Diagnostic Radiology                                                   17
Medical Oncology                                                       17
Vascular Surgery                                                       17
Orthopaedic Surgery                                                    16
Certified Nurse Midwife                                                16
Specialist                                                             15
Certified Clinical Nurse Specialist                                    14
Clinical Cardiac Electrophysiology                                     14
Interventional Pain Management                                         10
Neuropsychiatry                                                        10
Geriatric Medicine                                                      9
Critical Care (Intensivists)                                            8
Plastic Surgery                                                         8
Colorectal Surgery (Proctology)                                         7
Gynecological Oncology                                                  6
Interventional Radiology                                                6
Sports Medicine                                                         6
Thoracic Surgery                                                        6
Hand Surgery                                                            6
Preventive Medicine                                                     5
Undefined Physician type                                                5
Pathology                                                               4
General Acute Care Hospital                                             4
Naturopath                                                              4
Cardiac Surgery                                                         4
Hospice and Palliative Care                                             4
Registered Nurse                                                        4
Osteopathic Manipulative Medicine                                       4
Maxillofacial Surgery                                                   3
Oral & Maxillofacial Surgery                                            3
Surgical Oncology                                                       3
Legal Medicine                                                          2
Hematology                                                              2
Family Medicine                                                         2
Psychologist, Clinical                                                  2
Chiropractic                                                            2
Independent Medical Examiner                                            1
Certified Registered Nurse Anesthetist (CRNA)                           1
Specialist/Technologist                                                 1
Addiction Medicine                                                      1
Acupuncturist                                                           1
Nuclear Medicine                                                        1
Local Education Agency (LEA)                                            1
Emergency Medical Technician, Basic                                     1
Neuromusculoskeletal Medicine, Sports Medicine                          1
Counselor                                                               1
Clinic/Center                                                           1
Case Manager/Care Coordinator                                           1

In [16]:
#6.2 Appending the cumsum() function to the output of the value_counts() function on the specialty_description field

counts['cumulative'] = counts['specialty_description'].cumsum()
counts

,specialty_description,cumulative
Nurse Practitioner,785,785
Dentist,647,1432
Internal Medicine,626,2058
Family Practice,565,2623
Physician Assistant,446,3069
Emergency Medicine,250,3319
Student in an Organized Health Care Education/Training Program,250,3569
Obstetrics & Gynecology,203,3772
Optometry,168,3940
Psychiatry,152,4092
General Surgery,121,4213
Ophthalmology,115,4328
Cardiology,96,4424
Orthopedic Surgery,87,4511
Podiatry,87,4598
Neurology,74,4672
Gastroenterology,62,4734
Dermatology,60,4794
Psychiatry & Neurology,58,4852
Pediatric Medicine,52,4904
Urology,51,4955
Hematology-Oncology,49,5004
Pulmonary Disease,49,5053
Otolaryngology,46,5099
General Practice,45,5144
Nephrology,35,5179
Pharmacist,34,5213
Endocrinology,31,5244
Hospitalist,30,5274
Anesthesiology,30,5304
Physical Medicine and Rehabilitation,29,5333
Rheumatology,29,5362
Infectious Disease,27,5389
Radiation Oncology,24,5413
Oral Surgery (Dentist only),23,5436
Plastic and Reconstructive Surgery,23,5459
Allergy/ Immunology,23,5482
Neurosurgery,19,5501
Interventional Cardiology,19,5520
Pain Management,18,5538
Diagnostic Radiology,17,5555
Medical Oncology,17,5572
Vascular Surgery,17,5589
Orthopaedic Surgery,16,5605
Certified Nurse Midwife,16,5621
Specialist,15,5636
Certified Clinical Nurse Specialist,14,5650
Clinical Cardiac Electrophysiology,14,5664
Interventional Pain Management,10,5674
Neuropsychiatry,10,5684
Geriatric Medicine,9,5693
Critical Care (Intensivists),8,5701
Plastic Surgery,8,5709
Colorectal Surgery (Proctology),7,5716
Gynecological Oncology,6,5722
Interventional Radiology,6,5728
Sports Medicine,6,5734
Thoracic Surgery,6,5740
Hand Surgery,6,5746
Preventive Medicine,5,5751
Undefined Physician type,5,5756
Pathology,4,5760
General Acute Care Hospital,4,5764
Naturopath,4,5768
Cardiac Surgery,4,5772
Hospice and Palliative Care,4,5776
Registered Nurse,4,5780
Osteopathic Manipulative Medicine,4,5784
Maxillofacial Surgery,3,5787
Oral & Maxillofacial Surgery,3,5790
Surgical Oncology,3,5793
Legal Medicine,2,5795
Hematology,2,5797
Family Medicine,2,5799
"Psychologist, Clinical",2,5801
Chiropractic,2,5803
Independent Medical Examiner,1,5804
Certified Registered Nurse Anesthetist (CRNA),1,5805
Specialist/Technologist,1,5806
Addiction Medicine,1,5807
Acupuncturist,1,5808
Nuclear Medicine,1,5809
Local Education Agency (LEA),1,5810
"Emergency Medical Technician, Basic",1,5811
"Neuromusculoskeletal Medicine, Sports Medicine",1,5812
Counselor,1,5813
Clinic/Center,1,5814
Case Manager/Care Coordinator,1,5815

In [17]:
#6.2 Divide the output by N to obtain the cumulative ratio to the total count

counts['ratio'] = counts['cumulative']/N
counts

,specialty_description,cumulative,ratio
Nurse Practitioner,785,785,0.134996
Dentist,647,1432,0.246260
Internal Medicine,626,2058,0.353912
Family Practice,565,2623,0.451075
Physician Assistant,446,3069,0.527773
Emergency Medicine,250,3319,0.570765
Student in an Organized Health Care Education/Training Program,250,3569,0.613758
Obstetrics & Gynecology,203,3772,0.648667
Optometry,168,3940,0.677558
Psychiatry,152,4092,0.703697
General Surgery,121,4213,0.724506
Ophthalmology,115,4328,0.744282
Cardiology,96,4424,0.760791
Orthopedic Surgery,87,4511,0.775752
Podiatry,87,4598,0.790714
Neurology,74,4672,0.803439
Gastroenterology,62,4734,0.814101
Dermatology,60,4794,0.824420
Psychiatry & Neurology,58,4852,0.834394
Pediatric Medicine,52,4904,0.843336
Urology,51,4955,0.852107
Hematology-Oncology,49,5004,0.860533
Pulmonary Disease,49,5053,0.868960
Otolaryngology,46,5099,0.876870
General Practice,45,5144,0.884609
Nephrology,35,5179,0.890628
Pharmacist,34,5213,0.896475
Endocrinology,31,5244,0.901806
Hospitalist,30,5274,0.906965
Anesthesiology,30,5304,0.912124
Physical Medicine and Rehabilitation,29,5333,0.917111
Rheumatology,29,5362,0.922098
Infectious Disease,27,5389,0.926741
Radiation Oncology,24,5413,0.930868
Oral Surgery (Dentist only),23,5436,0.934824
Plastic and Reconstructive Surgery,23,5459,0.938779
Allergy/ Immunology,23,5482,0.942734
Neurosurgery,19,5501,0.946002
Interventional Cardiology,19,5520,0.949269
Pain Management,18,5538,0.952365
Diagnostic Radiology,17,5555,0.955288
Medical Oncology,17,5572,0.958212
Vascular Surgery,17,5589,0.961135
Orthopaedic Surgery,16,5605,0.963887
Certified Nurse Midwife,16,5621,0.966638
Specialist,15,5636,0.969218
Certified Clinical Nurse Specialist,14,5650,0.971625
Clinical Cardiac Electrophysiology,14,5664,0.974033
Interventional Pain Management,10,5674,0.975752
Neuropsychiatry,10,5684,0.977472
Geriatric Medicine,9,5693,0.979020
Critical Care (Intensivists),8,5701,0.980396
Plastic Surgery,8,5709,0.981771
Colorectal Surgery (Proctology),7,5716,0.982975
Gynecological Oncology,6,5722,0.984007
Interventional Radiology,6,5728,0.985039
Sports Medicine,6,5734,0.986071
Thoracic Surgery,6,5740,0.987102
Hand Surgery,6,5746,0.988134
Preventive Medicine,5,5751,0.988994
Undefined Physician type,5,5756,0.989854
Pathology,4,5760,0.990542
General Acute Care Hospital,4,5764,0.991230
Naturopath,4,5768,0.991917
Cardiac Surgery,4,5772,0.992605
Hospice and Palliative Care,4,5776,0.993293
Registered Nurse,4,5780,0.993981
Osteopathic Manipulative Medicine,4,5784,0.994669
Maxillofacial Surgery,3,5787,0.995185
Oral & Maxillofacial Surgery,3,5790,0.995701
Surgical Oncology,3,5793,0.996217
Legal Medicine,2,5795,0.996561
Hematology,2,5797,0.996905
Family Medicine,2,5799,0.997248
"Psychologist, Clinical",2,5801,0.997592
Chiropractic,2,5803,0.997936
Independent Medical Examiner,1,5804,0.998108
Certified Registered Nurse Anesthetist (CRNA),1,5805,0.998280
Specialist/Technologist,1,5806,0.998452
Addiction Medicine,1,5807,0.998624
Acupuncturist,1,5808,0.998796
Nuclear Medicine,1,5809,0.998968
Local Education Agency (LEA),1,5810,0.999140
"Emergency Medical Technician, Basic",1,5811,0.999312
"Neuromusculoskeletal Medicine, Sports Medicine",1,5812,0.999484
Counselor,1,5813,0.999656
Clinic/Center,1,5814,0.999828
Case Manager/Care Coordinator,1,5815,1.000000

In [18]:
counts2 = counts['ratio'] = counts['cumulative']/N
counts2

Nurse Practitioner                                                0.134996
Dentist                                                           0.246260
Internal Medicine                                                 0.353912
Family Practice                                                   0.451075
Physician Assistant                                               0.527773
Emergency Medicine                                                0.570765
Student in an Organized Health Care Education/Training Program    0.613758
Obstetrics & Gynecology                                           0.648667
Optometry                                                         0.677558
Psychiatry                                                        0.703697
General Surgery                                                   0.724506
Ophthalmology                                                     0.744282
Cardiology                                                        0.760791
Orthopedic Surgery                                                0.775752
Podiatry                                                          0.790714
Neurology                                                         0.803439
Gastroenterology                                                  0.814101
Dermatology                                                       0.824420
Psychiatry & Neurology                                            0.834394
Pediatric Medicine                                                0.843336
Urology                                                           0.852107
Hematology-Oncology                                               0.860533
Pulmonary Disease                                                 0.868960
Otolaryngology                                                    0.876870
General Practice                                                  0.884609
Nephrology                                                        0.890628
Pharmacist                                                        0.896475
Endocrinology                                                     0.901806
Hospitalist                                                       0.906965
Anesthesiology                                                    0.912124
Physical Medicine and Rehabilitation                              0.917111
Rheumatology                                                      0.922098
Infectious Disease                                                0.926741
Radiation Oncology                                                0.930868
Oral Surgery (Dentist only)                                       0.934824
Plastic and Reconstructive Surgery                                0.938779
Allergy/ Immunology                                               0.942734
Neurosurgery                                                      0.946002
Interventional Cardiology                                         0.949269
Pain Management                                                   0.952365
Diagnostic Radiology                                              0.955288
Medical Oncology                                                  0.958212
Vascular Surgery                                                  0.961135
Orthopaedic Surgery                                               0.963887
Certified Nurse Midwife                                           0.966638
Specialist                                                        0.969218
Certified Clinical Nurse Specialist                               0.971625
Clinical Cardiac Electrophysiology                                0.974033
Interventional Pain Management                                    0.975752
Neuropsychiatry                                                   0.977472
Geriatric Medicine                                                0.979020
Critical Care (Intensivists)                                      0.980396
Plastic Surgery                                                   0.981771
Colorectal Surgery (Proctology)                                   0.982975
Gynecological Oncology                                            0.984007
Interventional Radiology                                          0.985039
Sports Medicine                                                   0.986071
Thoracic Surgery                                                  0.987102
Hand Surgery                                                      0.988134
Preventive Medicine                                               0.988994
Undefined Physician type                                          0.989854
Pathology                                                         0.990542
General Acute Care Hospital                                       0.991230
Naturopath                                                        0.991917
Cardiac Surgery                                                   0.992605
Hospice and Palliative Care                                       0.993293
Registered Nurse                                                  0.993981
Osteopathic Manipulative Medicine                                 0.994669
Maxillofacial Surgery                                             0.995185
Oral & Maxillofacial Surgery                                      0.995701
Surgical Oncology                                                 0.996217
Legal Medicine                                                    0.996561
Hematology                                                        0.996905
Family Medicine                                                   0.997248
Psychologist, Clinical                                            0.997592
Chiropractic                                                      0.997936
Independent Medical Examiner                                      0.998108
Certified Registered Nurse Anesthetist (CRNA)                     0.998280
Specialist/Technologist                                           0.998452
Addiction Medicine                                                0.998624
Acupuncturist                                                     0.998796
Nuclear Medicine                                                  0.998968
Local Education Agency (LEA)                                      0.999140
Emergency Medical Technician, Basic                               0.999312
Neuromusculoskeletal Medicine, Sports Medicine                    0.999484
Counselor                                                         0.999656
Clinic/Center                                                     0.999828
Case Manager/Care Coordinator                                     1.000000
Name: cumulative, dtype: float64

In [19]:
#6.3 Create a boolean variable (eg a mask) which resolves to True if the cumulative sum is less than 75%, else False.

mask1 = counts2 < 0.75
mask1.head(15)

Nurse Practitioner                                                 True
Dentist                                                            True
Internal Medicine                                                  True
Family Practice                                                    True
Physician Assistant                                                True
Emergency Medicine                                                 True
Student in an Organized Health Care Education/Training Program     True
Obstetrics & Gynecology                                            True
Optometry                                                          True
Psychiatry                                                         True
General Surgery                                                    True
Ophthalmology                                                      True
Cardiology                                                        False
Orthopedic Surgery                                                False
Podiatry                                                          False
Name: cumulative, dtype: bool

In [20]:
#6.4 Use this boolean mask to filter the output of `value_counts()` to identify the records that contribute to the 
#first 75% of all specialities.

part_d['specialty_description'].value_counts()[mask1]

Nurse Practitioner                                                785
Dentist                                                           647
Internal Medicine                                                 626
Family Practice                                                   565
Physician Assistant                                               446
Emergency Medicine                                                250
Student in an Organized Health Care Education/Training Program    250
Obstetrics & Gynecology                                           203
Optometry                                                         168
Psychiatry                                                        152
General Surgery                                                   121
Ophthalmology                                                     115
Name: specialty_description, dtype: int64

## Question 7:
Take a look at these two columns: `total_claim_count` and `opioid_claim_count`. Define a new column that stores the ratio of the two, eg:
```python
part_d['opioid_claim_rate'] = part_d['opioid_claim_count']/part_d['total_claim_count']
```
Let us define **high opioid providers** as those who have an `opioid_claim_rate` that is greater than or equal to 50%. This question has three parts:
1. Run the describe method on the `opioid_claim_rate` column and note the statistics.
2. Use TWO different methods to calculate how many **high opioid providers** there are in the dataset. (Hint: you can use the sum of a boolean variable for one method and the size of a filtered dataset for the other method).
3. Use TWO different methods to identify the top 3 states that have the highest number of **high opioid providers**. (Hint: you can use value_counts for one method and groupby for the other method).

In [21]:
#7.1 Define a new column that stores the ratio of the two columns

part_d['opioid_claim_rate'] = part_d['opioid_claim_count']/part_d['total_claim_count']

In [22]:
#Run the describe method on the opioid_claim_rate column and note the statistics.

part_d['opioid_claim_rate'].describe()

count    4225.000000
mean        0.097227
std         0.164038
min         0.000000
25%         0.000000
50%         0.022523
75%         0.113238
max         1.000000
Name: opioid_claim_rate, dtype: float64

In [23]:
#7.2 Method 1: A boolean variable approach

high_opioid_providers = part_d['opioid_claim_rate']>= 0.50
high_opioid_providers

0       False
1       False
2       False
3       False
4       False
        ...
5810    False
5811    False
5812    False
5813    False
5814    False
Name: opioid_claim_rate, Length: 5815, dtype: bool

In [24]:
#7.2 Method 1, finding length of Boolean approach

len(part_d[high_opioid_providers])

209

In [25]:
#7.2 Method 2: A filtered dataset approach

high_opioid_providers2 = part_d[part_d['opioid_claim_rate'] >= .50]
high_opioid_providers2

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,beneficiary_race_white_count,beneficiary_race_black_count,beneficiary_race_asian_pi_count,beneficiary_race_hispanic_count,beneficiary_race_nat_ind_count,beneficiary_race_other_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score,opioid_claim_rate
26,1003347568,HAZELTINE,MAX,D,M.D.,M,I,55 LAKE AVE N,NaN,WORCESTER,...,NaN,NaN,0.0,NaN,0.0,0.0,11.0,12.0,2.2980,0.551724
98,1013902592,FLANAGAN,DEIDRE,A,MD,F,I,1501 S MADISON ST,NaN,APPLETON,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,1.1722,0.551724
150,1023227733,FARRIS,CHARISSA,NaN,MD,F,I,2516 SAMARITAN DR STE B,NaN,SAN JOSE,...,30.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,1.0396,0.718182
168,1023455748,GROOVER,MICHAEL,T,D.O.,M,I,9500 EUCLID AVE,NaN,CLEVELAND,...,27.0,NaN,0.0,0.0,0.0,NaN,21.0,17.0,1.7063,0.522388
181,1033134796,RUSSELL,BENJAMIN,L,DO,M,I,195 FORE RIVER PKWY,SUITE 420,PORTLAND,...,NaN,0.0,0.0,NaN,0.0,NaN,33.0,25.0,1.3221,0.533333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5684,1972843563,MCCRACKEN,JESSICA,NaN,D.O.,F,I,2333 BIDDLE AVE,NaN,WYANDOTTE,...,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,1.4071,0.600000
5747,1982877973,NELSON,JOHN,S,MD,M,I,1251 WESLEY DR STE 151,NaN,MEMPHIS,...,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,2.0322,0.636364
5769,1992159743,KUONI,SHAUN,M,M.D.,M,I,1211 MEDICAL CENTER DR,2301 VUH,NASHVILLE,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,2.2839,0.583333
5793,1992795850,CHUNDURI,JAIDEEP,NaN,M.D.,M,I,6480 HARRISON AVENUE,SUITE 201,CINCINNATI,...,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.8983,0.535885
5804,1992890339,CARLISLE,JOHN,C,MD,M,I,10701 NALL AVE,SUITE 200,OVERLAND PARK,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.8461,0.573770

In [26]:
#7.2 Method 2, finding length of filtered approach

len(high_opioid_providers2)

209

In [27]:
#7.3 Method 1 value_counts approach

s = high_opioid_providers2['nppes_provider_state'].value_counts().nlargest(3) 
s

CA    19
FL    15
NY    12
Name: nppes_provider_state, dtype: int64

In [27]:
#7.3 Method 2 groupby approach

s2 = high_opioid_providers2.groupby('nppes_provider_state').size().nlargest(3)
s2

nppes_provider_state
CA    19
FL    15
MI    12
dtype: int64

## Question 8:
Using the `opioid_claim_rate` column computed in the previous question:

1. Create a new DataFrame `g` that aggregates the `nppes_provider_gender` column using the `groupby` method and the `size` function to output the gender breakdown in the dataset. You can use this code to answer this question:
```python
g = part_d.groupby('nppes_provider_gender').size().reset_index()
```
2. Use the `rename` method to rename the columns of DataFrame `g` to *gender* and *count*.
3. Now compute the aggregation of the dataset by gender but filtered to the **high opioid providers**. Name the DataFrame `g2`. Rename the columns to *gender* and *high_opioid_count*.
4. Join the DataFrames g and g2 using the gender column as the key. The final result should look like this:
```
gender	count	high_opioid_count
	F	2458	62
	M	3357	147
```
5. Compute the ratio of `high_opioid_count` to `count` for each row and note the difference

In [28]:
#8.1 Create a new DataFrame called g 

g = part_d.groupby('nppes_provider_gender').size().reset_index()
g

  nppes_provider_gender     0
0                     F  2458
1                     M  3357

In [29]:
#8.2 Use the rename method to rename the columns of DataFrame g to gender and count.

mapping = {g.columns[0]:'gender', g.columns[1]: 'count'}
g = g.rename(columns=mapping) 
g

  gender  count
0      F   2458
1      M   3357

In [30]:
#8.3 Compute the aggregation of the dataset by gender but filtered to the high opioid providers. Name the DataFrame g2. 

g2 = high_opioid_providers2.groupby('nppes_provider_gender').size().reset_index()
g2

  nppes_provider_gender    0
0                     F   62
1                     M  147

In [31]:
#8.3 Rename the columns to gender and high_opioid_count

mapping = {g2.columns[0]:'gender', g2.columns[1]: 'high_opioid_count'}
g2 = g2.rename(columns=mapping) 
g2

  gender  high_opioid_count
0      F                 62
1      M                147

In [32]:
#8.4 Join the DataFrames g and g2 using the gender column as the key

m = pd.merge(g, g2)
m

  gender  count  high_opioid_count
0      F   2458                 62
1      M   3357                147

In [33]:
#8.5 Compute the ratio of high_opioid_count to count for each row 

m['ratio'] = m['high_opioid_count']/m['count']
m

  gender  count  high_opioid_count     ratio
0      F   2458                 62  0.025224
1      M   3357                147  0.043789

## Question 9:
The Office of Inspector General ([OIG](https://oig.hhs.gov/)) has the authority to **exclude** individuals and entities from Federally funded health care programs. To be excluded is quite serious, as you can see from their website:

>The OIG maintains a list of all currently excluded individuals and entities called the List of Excluded Individuals/Entities (LEIE). Anyone who hires an individual or entity on the LEIE may be subject to civil monetary penalties (CMP). To avoid CMP liability, health care entities should routinely check the list to ensure that new hires and current employees are not on it.

This list is publicaly available, [here](https://oig.hhs.gov/exclusions/exclusions_list.asp). I have downloaded this file in its entirety (in December 2020) and have stripped it down to the columns we need.

Load the provided file into a DataFrame, named `exclusions`:

```python
exclusions = pd.read_csv('physicians_exclusions_sample3.csv')
```
This question has a number of parts:

1. Print the number of rows and columns in the exclusions dataset.
2. Display the first 6 rows the DataFrame. 
3. Display 3 random rows of the DataFrame using the `sample` method.
4. Use the `nunique` method to determine the number of unique NPIs. Compare this to the size of the dataset - what do you observe?
5. Are there any NULL `NPI` values?
6. What is the most frequent `NPI` value?
7. Apply the `unique` method to the NPI column and convert the outcome to a list of NPIs (hint use the `tolist` method). Store the output in a variable called `npis`. What is the length of `npis`?
8. Apply the `isin` method to `part_d` to tag the rows whose NPI is in the list of excluded NPIs. You can use the following code. How many records are there in `excluded1`?
```python
excluded1 = part_d[part_d['npi'].isin(npis)]
```

In [34]:
#Load the provided file into a DataFrame, named exclusions

exclusions = pd.read_csv('/Users/user/Desktop/Medicare/physicians_exclusions_sample3.csv')

In [35]:
#9.1 Print the number of rows in the exclusions dataset

len(exclusions)

69858

In [36]:
#9.1 Print the number of columns in the exclusions dataset

len(exclusions.columns)

4

In [37]:
#9.2 Display the first 6 rows the DataFrame

exclusions.head(6)

   LASTNAME    FIRSTNAME STATE  NPI
0   AALDERS        NANCY    IL    0
1  AALTONEN     NICKOLAS    WA    0
2     AAMIR     MUHAMMAD    MI    0
3     AARON        ALINA    AZ    0
4     AARON  CHRISTOPHER    PA    0
5     AARON      DEBORAH    TX    0

In [38]:
#9.3 Display 3 random rows of the DataFrame using the sample method

exclusions.sample(3)

      LASTNAME FIRSTNAME STATE  NPI
57857    SIMON    SIDNEY    CA    0
19306    FEENY  JENNIFER    TN    0
29212  HUDGINS       TIM    TN    0

In [39]:
#9.4 Use the nunique method to determine the number of unique NPIs

exclusions['NPI'].nunique()

5200

In [40]:
#9.4 Compare this to the size of the dataset - what do you observe?

#It is a much smaller subset, about 7.5% of the whole dataset

In [41]:
#9.5 Find number of NULL NPI values

exclusions.info() #Output shows no NULL NPI values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69858 entries, 0 to 69857
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   LASTNAME   69858 non-null  object
 1   FIRSTNAME  69858 non-null  object
 2   STATE      69853 non-null  object
 3   NPI        69858 non-null  int64
dtypes: int64(1), object(3)
memory usage: 2.1+ MB

In [42]:
#9.6 Find the most frequent NPI value

exclusions['NPI'].value_counts().idxmax()

0

In [43]:
#9.7 Apply the unique method to the NPI column 

exclusions['NPI'].unique()

array([         0, 1477537496, 1124292966, ..., 1578637385, 1558366815,
       1174561708])

In [44]:
#9.7 Use tolist method to convert the outcome to a list of NPIs and store the output in a variable called npis

npis = exclusions['NPI'].unique().tolist()
npis

[0,
 1477537496,
 1124292966,
 1679754725,
 1194807255,
 1225029184,
 1790097574,
 1487870507,
 1497811368,
 1841203320,
 1003127655,
 1568735264,
 1609874742,
 1144399403,
 1225369556,
 1528114998,
 1760435226,
 1922429489,
 1811163132,
 1841420106,
 1750580676,
 1720115199,
 1336228758,
 1851316830,
 1417211020,
 1811937774,
 1295722163,
 1669557302,
 1881638781,
 1811184849,
 1104830330,
 1427499904,
 1568668705,
 1356369565,
 1871690487,
 1366531337,
 1740210178,
 1780714667,
 1972548618,
 1558434985,
 1194841460,
 1730218157,
 1114964442,
 1639370356,
 1912069394,
 1598938995,
 1255378402,
 1902134026,
 1578794715,
 1699924548,
 1114025426,
 1811076110,
 1003801044,
 1558416099,
 1588734081,
 1891086062,
 1336136431,
 1891743654,
 1720317837,
 1023118809,
 1730273053,
 1962661215,
 1902903552,
 1083804686,
 1215328323,
 1912032780,
 1326008384,
 1831145929,
 1396857207,
 1669412946,
 1053475814,
 1225275597,
 1952417610,
 1194916551,
 1215187406,
 1245210764,
 1669422523,
 1255397204,
 1891732442,
 1699885996,
 1962557249,
 1437121837,
 1255378592,
 1194141119,
 1295809358,
 1003859885,
 1720117518,
 1760521041,
 1942203880,
 1144244708,
 1043310956,
 1710071402,
 1093875296,
 1861827669,
 1689853020,
 1396968434,
 1477571818,
 1164641858,
 1205959970,
 1992157481,
 1346420650,
 1265631345,
 1679639397,
 1649560137,
 1003999145,
 1881892610,
 1336311000,
 1891780425,
 1821350406,
 1366474512,
 1306807797,
 1811986961,
 1912487877,
 1164752762,
 1588074314,
 1285613778,
 1841583994,
 1427256205,
 1790709913,
 1760400519,
 1356369102,
 1598886186,
 1811097843,
 1902143605,
 1457499865,
 1013944503,
 1528078979,
 1225144264,
 1417379173,
 1366692634,
 1992863476,
 1265468409,
 1164560496,
 1871631192,
 1821162694,
 1407909401,
 1407008022,
 1891098422,
 1932145869,
 1962574582,
 1437140217,
 1730150129,
 1154545473,
 1184732596,
 1194805887,
 1528390358,
 1144407552,
 1740469865,
 1417139692,
 1912998337,
 1538114632,
 1497797526,
 1659407286,
 1487870176,
 1588696207,
 1770989675,
 1336229145,
 1518202886,
 1083630016,
 1154413110,
 1891962619,
 1992890636,
 1467678755,
 1598832560,
 1750566162,
 1205980489,
 1194027938,
 1467660365,
 1912153602,
 1366716409,
 1376810945,
 1760710669,
 1134203698,
 1992025043,
 1144211913,
 1841230166,
 1659434108,
 1891980918,
 1679640866,
 1962597575,
 1669659421,
 1053441436,
 1184944712,
 1245425974,
 1174658462,
 1366693699,
 1437282555,
 1184617987,
 1871675769,
 1467546788,
 1033451786,
 1902245863,
 1811146673,
 1841317625,
 1780878561,
 1184898140,
 1558300897,
 1508926940,
 1013074525,
 1427079458,
 1083833750,
 1417928656,
 1285825711,
 1437161304,
 1891940243,
 1073750873,
 1356560171,
 1356551840,
 1528346608,
 1053458018,
 1245230168,
 1972960599,
 1861431967,
 1376927988,
 1417917816,
 1194057844,
 1740330398,
 1104909043,
 1578571105,
 1477874998,
 1124052352,
 1841466190,
 1235207523,
 1740349505,
 1811074560,
 1982601704,
 1932301298,
 1881632487,
 1376567875,
 1073723433,
 1356437107,
 1427004233,
 1649342312,
 1013125830,
 1548351125,
 1831339902,
 1659592079,
 1508955055,
 1427170562,
 1376819532,
 1023004587,
 1356311591,
 1457607582,
 1811170277,
 1083724561,
 1811900228,
 1356555494,
 1073739579,
 1205000353,
 1306906854,
 1497702377,
 1316097033,
 1528154788,
 1871571406,
 1629339940,
 1144532441,
 1881664829,
 1700981925,
 1811058282,
 1811022312,
 1629493549,
 1518191774,
 1891084638,
 1801038591,
 1700872645,
 1538473038,
 1821160961,
 1043674591,
 1952421034,
 1669508149,
 1427503093,
 1104022318,
 1780752444,
 1033387493,
 1841430071,
 1063587426,
 1801998943,
 1710159843,
 1275587123,
 1083655906,
 1811984594,
 1811984487,
 1609109834,
 1710937651,
 1326185521,
 1841208089,
 1619169406,
 1760510168,
 1619017449,
 1386634293,
 1679575443,
 1538100599,
 1376807677,
 1679572325,
 1538321922,
 1447327952,
 1508907122,
 1275593618,
 1427197631,
 1679615553,
 1306140629,
 1205023512,
 1801908173,
 1609901891,
 1053334524,
 1922163427,
 1659338523,
 1487682399,
 1205048618,
 1649339946,
 1467418566,
 1104824200,
 1144559618,
 1811909260,
 1376640193,
 1811104581,
 1053661884,
 1306819685,
 1831297266,
 1992850416,
 1710107735,
 1396739736,
 1356563076,
 1679545149,
 1689685752,
 1871786590,
 1942288386,
 1275559338,
 1568546497,
 1851379960,
 1518077510,
 1134146012,
 1225067044,
 1497757280,
 1588659965,
 1619197571,
 1538476445,
 1306933908,
 1205895133,
 1811059967,
 1679679096,
 1700229531,
 1073567400,
 1750451613,
 1235232794,
 1972700722,
 1528250974,
 1073628459,
 1538253208,
 1841275641,
 1952515363,
 1376505164,
 1619085685,
 1679765499,
 1427103357,
 1538225628,
 1679661052,
 1073524823,
 1598779167,
 1154309045,
 1538395876,
 1346310695,
 1508920828,
 1336112523,
 1548551716,
 1568470342,
 1396796033,
 1528071594,
 1396976841,
 1649633603,
 1225167562,
 1255355160,
 1255300661,
 1316943384,
 1447389879,
 1841365657,
 1972583284,
 1770551665,
 1609915321,
 1689757536,
 1588628770,
 1275785958,
 1801919865,
 1063408102,
 1124214424,
 1427071059,
 1346297348,
 1770505729,
 1194897298,
 1891803318,
 1720351133,
 1194052936,
 1497908834,
 1619316700,
 1518313295,
 1992839039,
 1831152255,
 1740376359,
 1538121025,
 1427081546,
 1699861989,
 1033310263,
 1619925872,
 1023166410,
 1861518755,
 1972622603,
 1649463977,
 1053373753,
 1760684534,
 1346640745,
 1235151184,
 1992720700,
 1386691392,
 1457511487,
 1952386310,
 1427086891,
 1871692285,
 1932429826,
 1760587398,
 1043229313,
 1326095761,
 1780645648,
 1356406177,
 1467414763,
 1184616310,
 1871637223,
 1306924337,
 1326021098,
 1396721205,
 1346224821,
 1376655845,
 1790741882,
 1699834747,
 1932261401,
 1598874422,
 1568405132,
 1366533390,
 1871616912,
 1740551001,
 1720190887,
 1679795108,
 1316906456,
 1629106257,
 1992784169,
 1639126121,
 1205008125,
 1265464168,
 1982786471,
 1134528177,
 1720107170,
 1164598140,
 1215189378,
 1962565549,
 1568598456,
 1174833412,
 1356353429,
 1154625937,
 1114030863,
 1922114040,
 1598085516,
 1831304096,
 1407937139,
 1568578268,
 1952454928,
 1043369093,
 1871663740,
 1386651842,
 1417190398,
 1003966763,
 1316926306,
 1235211095,
 1922080290,
 1528196300,
 1962409615,
 1538119797,
 1639297047,
 1770553521,
 1104881382,
 1932388345,
 1659525467,
 1427146984,
 1417008756,
 1932325032,
 1801085972,
 1093887309,
 1831169085,
 1598910663,
 1366857195,
 1275677213,
 1508243189,
 1972565562,
 1699823435,
 1902894322,
 1811965783,
 1063501823,
 1104834209,
 1669542338,
 1417116427,
 1285782599,
 1932230588,
 1073558557,
 1790733665,
 1275776544,
 1831151356,
 1326387416,
 1972526572,
 1427000819,
 1174569248,
 1508004433,
 1497006241,
 1669655346,
 1184672834,
 1760542492,
 1538235015,
 1780827469,
 1023189248,
 1215963715,
 1205922747,
 1073796975,
 1124124268,
 1437339900,
 1083706915,
 1720209521,
 1538321047,
 1750370862,
 1477654200,
 1598735581,
 1194850172,
 1417036641,
 1215222393,
 1528000668,
 1730231259,
 1801203005,
 1760665806,
 1710006978,
 1639159072,
 1093787343,
 1427090562,
 1528008547,
 1164436960,
 1952430241,
 1942461470,
 1083617260,
 1245261742,
 1174076020,
 1487901963,
 1669678652,
 1639363161,
 1386788503,
 1508299603,
 1841456902,
 1972748523,
 1699762914,
 1659374528,
 1851332449,
 1821128331,
 1134259054,
 1063691376,
 1275595399,
 1023442555,
 1194801746,
 1255421384,
 1699954388,
 1376516609,
 1467431080,
 1013178946,
 1932373735,
 1063591899,
 1891769063,
 1548492291,
 1154441509,
 1962773457,
 1225292667,
 1174629893,
 1760481550,
 1134399926,
 1891750923,
 1407945744,
 1154336808,
 1821499724,
 1235233586,
 1174689558,
 1407926702,
 1124120308,
 1871638502,
 1588836829,
 1134401136,
 1558352260,
 1023065521,
 1477623890,
 1609985845,
 1942568738,
 1255690558,
 1659365716,
 1265588594,
 1588086268,
 1295813376,
 1255488540,
 1760444590,
 1992175301,
 1255591574,
 1821178005,
 1740585058,
 1356550701,
 1124367909,
 1669414553,
 1013244508,
 1588705172,
 1639518491,
 1205865128,
 1144376732,
 1487852695,
 1821120882,
 1811070006,
 1457443632,
 1326091646,
 1205948577,
 1720156839,
 1235160821,
 1386695591,
 1043481138,
 1942463138,
 1437200045,
 1053527622,
 1932232683,
 1659339679,
 1164410056,
 1528051240,
 1104809706,
 1972559227,
 1780955195,
 1992958078,
 1659445690,
 1275773046,
 1063740181,
 1386604643,
 1104033091,
 1518909746,
 1356339055,
 1821118803,
 1003813759,
 1093926305,
 1922301548,
 1508952102,
 1982697413,
 1821201021,
 1518181270,
 1457333429,
 1205813441,
 1740617034,
 1730158304,
 1457768756,
 1629074802,
 1972039451,
 1508868472,
 1255479804,
 1740290253,
 1265588131,
 1992113922,
 1477554616,
 1740331651,
 1942320635,
 1609860097,
 1184727745,
 1780898239,
 1407867666,
 1679591713,
 1952708885,
 1346403540,
 1710120357,
 1316261647,
 1942219290,
 1811962251,
 1013954874,
 1265460976,
 1881600906,
 1134139884,
 1326183930,
 1780837534,
 1396922134,
 1548415391,
 1679565204,
 1316073455,
 1548360308,
 1174625982,
 1972554228,
 1265402846,
 1245277060,
 1972683506,
 1972534394,
 1285717397,
 1700808672,
 1942264973,
 1629219969,
 1770814980,
 1992034250,
 1902179476,
 1104091818,
 1639275969,
 1952357303,
 1255363362,
 1225061765,
 1760750798,
 1285672386,
 1669413142,
 1598995219,
 1114056082,
 1811155690,
 1639272735,
 1255365854,
 1124146345,
 1326329392,
 1508200676,
 1982636056,
 1518959766,
 1700904604,
 1063537215,
 1215158308,
 1972885739,
 1750587820,
 1093701039,
 1114955325,
 1083600571,
 1639193196,
 1881614352,
 1528199791,
 1124203765,
 1811282635,
 1891722237,
 1922034297,
 1760692842,
 1063786366,
 1134392046,
 1013167311,
 1265434914,
 1538164942,
 1629281746,
 1760484364,
 1922037613,
 1215088752,
 1912951716,
 1467666974,
 1679792543,
 1194959502,
 1548246291,
 1275525438,
 1568478220,
 1811015746,
 1942333489,
 1801990312,
 1043366313,
 1669435764,
 1114073418,
 1124036231,
 1225070246,
 1417095787,
 1245343888,
 1801946496,
 1730317124,
 1093726556,
 1710221882,
 1851313225,
 1720253347,
 1619074788,
 1124082169,
 1760607352,
 1639493091,
 1902120363,
 1396851366,
 1295922110,
 1982843587,
 1124106513,
 1285785758,
 1386923407,
 1124055900,
 1467708479,
 1326002445,
 1982791638,
 1851423065,
 1023268695,
 1811048515,
 1316962566,
 1265758759,
 1174576912,
 1417130352,
 1134323355,
 1568716058,
 1316004963,
 1891936217,
 1326293937,
 1336180611,
 1811265507,
 1174770697,
 1669511473,
 1699840264,
 1245285436,
 1033213483,
 1447334008,
 1528153061,
 1609857200,
 1124170048,
 1437362308,
 1255306767,
 1467509406,
 1114982444,
 1497856470,
 1245347574,
 1508003088,
 1518037969,
 1194764894,
 1962479675,
 1396874517,
 1891752564,
 1275748675,
 1437450822,
 1194984237,
 1346377595,
 1962421198,
 1821097130,
 1629197009,
 1376647503,
 1477624575,
 1689997835,
 1316909492,
 1518157429,
 1194801662,
 1972944460,
 1265498505,
 1659444826,
 1265461768,
 1114197100,
 1629153507,
 1194896779,
 1588652275,
 1750551818,
 1912162835,
 1093814717,
 1447202205,
 1255308797,
 1598807547,
 1205144474,
 1508125600,
 1730383993,
 1689645608,
 1962829754,
 1851482749,
 1629115217,
 1083707624,
 1922096080,
 1346352085,
 1316067051,
 1114063849,
 1235215153,
 1891738472,
 1730280124,
 1609968510,
 1376662031,
 1417158262,
 1053589929,
 1235106543,
 1043343569,
 1447236716,
 1215988092,
 1124341060,
 1841310125,
 1043353758,
 1619188695,
 1487845343,
 1811012065,
 1063443299,
 1306838123,
 1558347468,
 1245390020,
 1306184809,
 1689709966,
 1336357599,
 1598765307,
 1053583104,
 1154391910,
 1659355840,
 1003845306,
 1437149952,
 1801839139,
 1669639944,
 1043480106,
 1073810941,
 1295764710,
 1477620706,
 1588137418,
 1962629675,
 1780762567,
 1689766693,
 1033248398,
 1770656506,
 1316912769,
 1013160258,
 1437138864,
 1669579181,
 1174807374,
 1639395395,
 1750343679,
 1326158312,
 1487665246,
 1831370162,
 1902874456,
 1750399093,
 1851629422,
 1972931210,
 1881736593,
 1639268980,
 1487877213,
 1407814726,
 1679694145,
 1588604805,
 1649317298,
 1144367640,
 1659599736,
 1295909901,
 1255312625,
 1952392177,
 1154379840,
 1487807319,
 1578776894,
 1528087970,
 1093910291,
 1083857270,
 1518016252,
 1992030050,
 1821234386,
 1114972874,
 1841227436,
 1750454070,
 1346457892,
 1730160193,
 1275875783,
 1114062122,
 1497722391,
 1811029127,
 1649276684,
 1003930017,
 1023320835,
 1598919466,
 1831470673,
 1982805883,
 1376608356,
 1912938291,
 1396153607,
 1699849885,
 1548282759,
 1821019308,
 1700963055,
 1124246830,
 1528206067,
 1730215922,
 1952521965,
 1396736260,
 1346396991,
 1720178148,
 1679618862,
 1467587410,
 1639288269,
 1619168036,
 1386664936,
 1447291380,
 1427361609,
 1750478376,
 1720397748,
 1073701280,
 1801926134,
 1548376965,
 1972726925,
 1972656015,
 1669412243,
 1699828210,
 1003800533,
 1467435289,
 1083850267,
 1174688493,
 1104024454,
 1316035793,
 1235158734,
 1083823355,
 1790727642,
 1295836245,
 1447577846,
 1598985517,
 1952751356,
 1104975721,
 1881681666,
 1740303676,
 1598743262,
 1205217023,
 1164594487,
 1225025539,
 1598742470,
 1326065913,
 1578608121,
 1265469472,
 1174732317,
 1871634006,
 ...]

In [45]:
#9.7 Find  the length of npis

len(npis)

5200

In [46]:
#9.8 Apply the isin method to part_d to tag the rows whose NPI is in the list of excluded NPIs

excluded1 = part_d[part_d['npi'].isin(npis)]
excluded1

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,beneficiary_race_white_count,beneficiary_race_black_count,beneficiary_race_asian_pi_count,beneficiary_race_hispanic_count,beneficiary_race_nat_ind_count,beneficiary_race_other_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score,opioid_claim_rate
3814,1659506111,FRANCIS,DESMOND,NaN,MD,M,I,1801 BLACK RIVER BLVD N,NaN,ROME,...,319.0,NaN,NaN,15.0,NaN,NaN,214.0,138.0,1.3818,0.089926
4481,1770505612,YANG,HARRISON,Y,"M.D., FACP, FACC",M,I,845 MCARTHUR ST STE D,NaN,MANCHESTER,...,427.0,25.0,NaN,NaN,0.0,NaN,168.0,295.0,1.6193,0.119433

In [47]:
#9.8 Find number of records are there in excluded1

len(excluded1)

2

## Question 10
In question 9 we searched for records in the part_d DataFrame whose NPI was in the exclusions dataset. Matching across the NPI yielded only 2 excluded providers. This seems suspicious. The problem is probably due to the fact that so many of the NPIs in the excluded dataset are marked as `0`. Perhaps we can do better by matching across first and last names. Let's do that in these steps.
1. As a sanity check, let's first do a merge between the two datasets on NPI. Your results should confirm the result obtained in question 9. For convenience, define this list of columns:
```python
cols = [
    'npi', 
    'nppes_provider_first_name', 
    'nppes_provider_last_org_name', 
    'nppes_provider_state', 
    'NPI',
    'FIRSTNAME',
    'LASTNAME',
    'STATE',
    'opioid_claim_rate'
]
```
Perform the merge and display the output for the columns in `cols`. You can use the following code to answer this question:
```python
excluded2 = pd.merge(left = part_d, right = exclusions, how = 'inner', 
         left_on = ['npi'],
         right_on = ['NPI']
        )
excluded2[cols]
```
Your results should match the results from Question 9.


2. Since we are going to match across names, let's first convert the applicable columns to upper case and strip out any leading or trailing spaces. You can use the following code to answer this question but you'll need to apply it to the remaining first and last name columns, eg 'nppes_provider_first_name', 'nppes_provider_last_org_name', 'FIRSTNAME' and 'LASTNAME'
```python
part_d['nppes_provider_first_name'] = part_d['nppes_provider_first_name'].str.upper().str.strip()
```

3. Run another inner join across both datasets using first and last names. My result had 461 rows. Please take a look at the dataset filtering on the columns in `cols` as done above. What do you notice? 


4. In order to conduct a better quality match, include the state in your join keys. You should now be matching on first name, last name and state. My result had 22 records. I feel more confident in this match since the names and state lines up. You'll notice that some of the providers have 0 `opioid_claim_rate`. This is not that surprising as there are many different kinds of behaviors that a provider can engage in in order to get on the exclusisons list.

In [48]:
#10.1 Define list of columns

cols = [
    'npi', 
    'nppes_provider_first_name', 
    'nppes_provider_last_org_name', 
    'nppes_provider_state', 
    'NPI',
    'FIRSTNAME',
    'LASTNAME',
    'STATE',
    'opioid_claim_rate'
]

In [49]:
#10.1 Perform the merge and display the output for the columns in cols

excluded2 = pd.merge(left = part_d, right = exclusions, how = 'inner', 
      left_on = ['npi'],
      right_on = ['NPI']
     )
excluded2[cols]

,npi,nppes_provider_first_name,nppes_provider_last_org_name,nppes_provider_state,NPI,FIRSTNAME,LASTNAME,STATE,opioid_claim_rate
0,1659506111,DESMOND,FRANCIS,NY,1659506111,DESMOND,FRANCIS,NY,0.089926
1,1770505612,HARRISON,YANG,TN,1770505612,HARRISON,YANG,TN,0.119433

In [50]:
#10.2 Convert the applicable columns to upper case and strip out any leading or trailing spaces

part_d['nppes_provider_first_name'] = part_d['nppes_provider_first_name'].str.upper().str.strip()
part_d['nppes_provider_last_org_name'] = part_d['nppes_provider_last_org_name'].str.upper().str.strip()
exclusions['FIRSTNAME'] = exclusions['FIRSTNAME'].str.upper().str.strip()
exclusions['LASTNAME'] = exclusions['LASTNAME'].str.upper().str.strip()

In [51]:
#10.3 Run another inner join across both datasets using first and last names. What do you notice?

name = pd.merge(left = part_d, right = exclusions, how = 'inner', 
      left_on = ["nppes_provider_first_name", "nppes_provider_last_org_name"],
      right_on = ["FIRSTNAME", "LASTNAME"]
     )
name[cols]

,npi,nppes_provider_first_name,nppes_provider_last_org_name,nppes_provider_state,NPI,FIRSTNAME,LASTNAME,STATE,opioid_claim_rate
0,1003153628,RICHARD,COLEMAN,TX,0,RICHARD,COLEMAN,CA,0.047162
1,1003290974,MARILYN,JONES,IN,0,MARILYN,JONES,AR,0.017435
2,1003811837,MARK,ROBINSON,OH,1427112325,MARK,ROBINSON,NH,0.000000
3,1346286507,MARK,ROBINSON,CA,1427112325,MARK,ROBINSON,NH,0.000000
4,1003868787,DOUGLAS,NELSON,IL,0,DOUGLAS,NELSON,IA,0.196429
...,...,...,...,...,...,...,...,...,...
430,1982648333,TIMOTHY,MILLER,WV,0,TIMOTHY,MILLER,UT,NaN
431,1982668497,ANDREW,JIMERSON,GA,1427056076,ANDREW,JIMERSON,OH,0.175676
432,1992142632,JESSICA,MARSHALL,OH,0,JESSICA,MARSHALL,FL,0.083333
433,1992786305,JOHN,FOX,KS,0,JOHN,FOX,AL,0.048907
434,1992905616,SHARON,LEE,CA,0,SHARON,LEE,TX,NaN

In [52]:
#10.3 Find the number of rows in name

len(name)

435

In [53]:
#10.4 Include the state in your join keys

name2 = pd.merge(left = part_d, right = exclusions, how = 'inner', 
      left_on = ["nppes_provider_first_name", "nppes_provider_last_org_name", "nppes_provider_state"],
      right_on = ["FIRSTNAME", "LASTNAME", "STATE"]
     )
name2[cols]

,npi,nppes_provider_first_name,nppes_provider_last_org_name,nppes_provider_state,NPI,FIRSTNAME,LASTNAME,STATE,opioid_claim_rate
0,1013070861,CHARLES,HARRIS,TX,0,CHARLES,HARRIS,TX,0.000000
1,1053349506,JOSE,TORRES,FL,0,JOSE,TORRES,FL,0.040196
2,1144278052,ROBERT,TAYLOR,CA,0,ROBERT,TAYLOR,CA,0.000000
3,1144382672,MARY,SMITH,MS,0,MARY,SMITH,MS,0.000000
4,1184608903,ROBERT,LEE,IL,0,ROBERT,LEE,IL,0.172285
5,1205807864,ROBERT,ROTH,CA,1700869864,ROBERT,ROTH,CA,NaN
6,1205839776,MARTHA,MARTINEZ,TX,0,MARTHA,MARTINEZ,TX,NaN
7,1275501629,ROBERT,JONES,CA,0,ROBERT,JONES,CA,0.034858
8,1346213907,STEPHEN,LEE,PA,0,STEPHEN,LEE,PA,0.000000
9,1346223179,RICHARD,SMITH,IL,0,RICHARD,SMITH,IL,0.000000
10,1356315410,DUC,NGUYEN,CA,0,DUC,NGUYEN,CA,0.727273
11,1356408017,ROBERT,GONZALES,CA,0,ROBERT,GONZALES,CA,0.000000
12,1427333186,REBECCA,MARTIN,TX,0,REBECCA,MARTIN,TX,0.000000
13,1518012954,DAVID,WILLIAMS,CA,0,DAVID,WILLIAMS,CA,0.281746
14,1528326428,WILLIAM,LANE,MA,0,WILLIAM,LANE,MA,0.261905
15,1538442017,JENNIFER,ORTIZ,NY,0,JENNIFER,ORTIZ,NY,0.000000
16,1659506111,DESMOND,FRANCIS,NY,1659506111,DESMOND,FRANCIS,NY,0.089926
17,1700185345,ALAN,KATZ,NY,0,ALAN,KATZ,NY,0.000000
18,1770505612,HARRISON,YANG,TN,1770505612,HARRISON,YANG,TN,0.119433
19,1871955906,CARMEN,LOPEZ,FL,0,CARMEN,LOPEZ,FL,0.000000
20,1942309596,MARGARITA,RODRIGUEZ,FL,0,MARGARITA,RODRIGUEZ,FL,NaN
21,1942592324,JENNIFER,SMITH,NC,0,JENNIFER,SMITH,NC,0.036195

In [54]:
#10.3 Find the number of rows in name

len(name2)

22

In [55]:
#FINISH