# Homework 2

The goal of this Homework is to write Python code to answer each of the questions below. You should be able to answer these questions using Pandas only. You should not need to import any other packages. You should not use Excel or any other means to answer these questions. **Since questions have subquestions, it would be helpful if you use comments to clearly indicate which question you are answering**.

## Introduction
The Centers for Medicare & Medicaid Services ([CMS](cms.gov)) is a federal agency within the United States Department of Health and Human Services (HHS) that administers the **Medicare program** and works in partnership with state governments to administer Medicaid, the Children's Health Insurance Program (CHIP), and health insurance portability standards.
 - **Medicare** is a national health insurance program that provides health insurance for Americans aged 65 and over

The **Medicare Part D** program, also called the Medicare prescription drug benefit, is an optional United States federal-government program to help Medicare beneficiaries pay for self-administered prescription drugs through prescription drug insurance premiums.

CMS maintains a lot of [public info](https://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Provider-Charge-Data/Part-D-Prescriber) on prescription drugs that are prescribed by individual physicians and other health care **providers** and paid for under the **Medicare Part D** Prescription Drug Program.

I downloaded the **2017 Provider Summary table** and sampled it down from 1.1 million records (360 MB) to roughly 6000 records (2MB). If you would like to check out the original dataset, you can download it from this site https://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Provider-Charge-Data/PartD2017   

But for this assignment, you need to use the provided downsampled dataset `part_d_drug_prescriptions_sample2.csv`. If you would like, the data dictionary is available [here](https://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Provider-Charge-Data/Downloads/Prescriber_Methods.pdf). The applicable section is Table 2 in the Appendix.

In [1]:
import pandas as pd
import os
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_rows', 200)

## Question 1

Use Pandas to import **part_d_drug_prescriptions_sample2.csv** into a DataFrame, named `part_d`. How many rows and colums does the dataset have?

In [2]:
os.getcwd()

'/Users/katherineli/Desktop/Python for data analytics/Assignment 2 '

In [3]:
# load the local csv as a dataframe 
part_d = pd.read_csv('part_d_drug_prescriptions_sample2.csv')

count_row = part_d.shape[0]   
count_col = part_d.shape[1] 

# the number of row
print("There are", count_row, "rows")
print("There are", count_col, "columns")

There are 5815 rows
There are 84 columns

## Question 2
This question has two parts:
1. Display the first 6 rows of `part_d`.
2. Display the last 6 rows of `part_d`.

In [4]:
# 2.1 
part_d.head(6)

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,beneficiary_male_count,beneficiary_race_white_count,beneficiary_race_black_count,beneficiary_race_asian_pi_count,beneficiary_race_hispanic_count,beneficiary_race_nat_ind_count,beneficiary_race_other_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,92.0,220.0,14.0,0.0,0.0,0.0,0.0,143.0,91.0,2.1685
1,1003012022,CUDZILO,COREY,NaN,M.D.,M,I,2240 SUTHERLAND AVE,SUITE 103,KNOXVILLE,...,35.0,NaN,NaN,0.0,NaN,0.0,0.0,49.0,33.0,2.5022
2,1003020041,BAXTER,MARGARET,NaN,M.D.,F,I,1100 LONG POND RD,SUITE 250,ROCHESTER,...,221.0,544.0,NaN,NaN,17.0,0.0,26.0,515.0,95.0,1.0164
3,1003031212,KAYALI,FADI,NaN,M.D.,M,I,600 N CATTLEMEN RD,SUITE 200,SARASOTA,...,140.0,249.0,NaN,NaN,NaN,0.0,NaN,229.0,45.0,2.4311
4,1003043175,BENSON,REBECCA,L,D.D.S.,F,I,6601 LYNDALE AVE S,NaN,RICHFIELD,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,20.0,0.0,1.0910
5,1003054206,SEILER,WARREN,B,MD,M,I,2700 ROGERS DR,SUITE 101,HOMEWOOD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# 2.2 
part_d.tail(6)

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,beneficiary_male_count,beneficiary_race_white_count,beneficiary_race_black_count,beneficiary_race_asian_pi_count,beneficiary_race_hispanic_count,beneficiary_race_nat_ind_count,beneficiary_race_other_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score
5809,1992936330,MANLEY,CHRISTOPHER,J,MD,M,I,333 COTTMAN AVE,NaN,PHILADELPHIA,...,25.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,2.5471
5810,1992949150,WANG,AMY,M,MD,F,I,3130 N COUNTY ROAD 25A,NaN,TROY,...,73.0,168.0,24.0,NaN,NaN,0.0,NaN,146.0,58.0,2.0090
5811,1992961429,PARKER,MELINDA,S,PA-C,F,I,3209 S 23RD ST,STE 340,TACOMA,...,59.0,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.9592
5812,1992969141,BURKART,NORA,E,M.D.,F,I,1805 HENNEPIN AVE N,NaN,GLENCOE,...,11.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,1.3618
5813,1992980767,TANAWUTTIWAT,TANYANAN,NaN,M.D.,F,I,2500 N STATE ST,NaN,JACKSON,...,84.0,NaN,79.0,NaN,NaN,NaN,0.0,75.0,78.0,2.0090
5814,1992994446,PATETE,MICHAEL,L,"MD, FACS",M,I,213 PALERMO PL,NaN,VENICE,...,472.0,951.0,NaN,NaN,NaN,NaN,19.0,948.0,35.0,1.2319

## Question 3
This question has 4 parts:
1. Use the `info()` function to examine the DataFrame from a high level. Take a moment to look at the number of non-null values and the datatypes of each column. 
2. How many non-null values does the `npi` column have? (Use the output of the `info()` function to answer this question.)
3. What is the data type of the `npi` column? (Use the output of the `info()` function to answer this question.)
4. The purpose of this question is to understand the data you are looking at. The `npi` stands for National Provider Identifier. Please provide a one or two sentence description of the NPI - you may use a web search (google/wikipedia/etc...) to answer this question.

In [6]:
# 3.1 
part_d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5815 entries, 0 to 5814
Data columns (total 84 columns):
npi                                 5815 non-null int64
nppes_provider_last_org_name        5815 non-null object
nppes_provider_first_name           5815 non-null object
nppes_provider_mi                   4074 non-null object
nppes_credentials                   5461 non-null object
nppes_provider_gender               5815 non-null object
nppes_entity_code                   5815 non-null object
nppes_provider_street1              5815 non-null object
nppes_provider_street2              2107 non-null object
nppes_provider_city                 5815 non-null object
nppes_provider_zip5                 5815 non-null float64
nppes_provider_zip4                 5031 non-null float64
nppes_provider_state                5815 non-null object
nppes_provider_country              5815 non-null object
specialty_description               5815 non-null object
description_flag                    5815 non-null object
medicare_prvdr_enroll_status        5815 non-null object
total_claim_count                   5815 non-null int64
total_30_day_fill_count             5815 non-null float64
total_drug_cost                     5815 non-null float64
total_day_supply                    5815 non-null int64
bene_count                          5186 non-null float64
ge65_suppress_flag                  1295 non-null object
total_claim_count_ge65              4520 non-null float64
total_30_day_fill_count_ge65        4520 non-null float64
total_drug_cost_ge65                4520 non-null float64
total_day_supply_ge65               4520 non-null float64
bene_count_ge65_suppress_flag       2595 non-null object
bene_count_ge65                     3220 non-null float64
brand_suppress_flag                 2324 non-null object
brand_claim_count                   3491 non-null float64
brand_drug_cost                     3491 non-null float64
generic_suppress_flag               1573 non-null object
generic_claim_count                 4242 non-null float64
generic_drug_cost                   4242 non-null float64
other_suppress_flag                 1224 non-null object
other_claim_count                   4591 non-null float64
other_drug_cost                     4591 non-null float64
mapd_suppress_flag                  1096 non-null object
mapd_claim_count                    4719 non-null float64
mapd_drug_cost                      4719 non-null float64
pdp_suppress_flag                   1096 non-null object
pdp_claim_count                     4719 non-null float64
pdp_drug_cost                       4719 non-null float64
lis_suppress_flag                   1191 non-null object
lis_claim_count                     4624 non-null float64
lis_drug_cost                       4624 non-null float64
nonlis_suppress_flag                1191 non-null object
nonlis_claim_count                  4624 non-null float64
nonlis_drug_cost                    4624 non-null float64
opioid_claim_count                  4225 non-null float64
opioid_drug_cost                    4225 non-null float64
opioid_day_supply                   4225 non-null float64
opioid_bene_count                   3954 non-null float64
opioid_prescriber_rate              4225 non-null float64
la_opioid_claim_count               5099 non-null float64
la_opioid_drug_cost                 5099 non-null float64
la_opioid_day_supply                5099 non-null float64
la_opioid_bene_count                4703 non-null float64
la_opioid_prescriber_rate           3340 non-null float64
antibiotic_claim_count              4112 non-null float64
antibiotic_drug_cost                4112 non-null float64
antibiotic_bene_count               3812 non-null float64
antipsych_ge65_suppress_flag        788 non-null object
antipsych_claim_count_ge65          5027 non-null float64
antipsych_drug_cost_ge65            5027 non-null float64
antipsych_bene_ge65_suppress_flg    1254 non-null object
antipsych_bene_count_ge65           4561 non-null float64
average_age_of_beneficiaries        5186 non-null float64
beneficiary_age_less_65_count       3220 non-null float64
beneficiary_age_65_74_count         2675 non-null float64
beneficiary_age_75_84_count         1815 non-null float64
beneficiary_age_greater_84_count    1935 non-null float64
beneficiary_female_count            4157 non-null float64
beneficiary_male_count              4157 non-null float64
beneficiary_race_white_count        2848 non-null float64
beneficiary_race_black_count        2004 non-null float64
beneficiary_race_asian_pi_count     2585 non-null float64
beneficiary_race_hispanic_count     2006 non-null float64
beneficiary_race_nat_ind_count      4176 non-null float64
beneficiary_race_other_count        1784 non-null float64
beneficiary_nondual_count           3455 non-null float64
beneficiary_dual_count              3455 non-null float64
beneficiary_average_risk_score      5186 non-null float64
dtypes: float64(56), int64(3), object(25)
memory usage: 3.7+ MB

2. How many non-null values does the `npi` column have? (Use the output of the `info()` function to answer this question.)
3. What is the data type of the `npi` column? (Use the output of the `info()` function to answer this question.)
4. The purpose of this question is to understand the data you are looking at. The `npi` stands for National Provider Identifier. Please provide a one or two sentence description of the NPI - you may use a web search (google/wikipedia/etc...) to answer this question.

In [7]:
# 3.2 
print("The `npi` column have 5815 non-null values.")



# 3.4 The National Provider Identifier (NPI) is a Health Insurance Portability 
#     and Accountability Act (HIPAA) Administrative Simplification Standard. 
#     The NPI is a unique identification number for covered health care providers.

The `npi` column have 5815 non-null values.

In [8]:
# 3.3 
print("The data type of the `npi` column is int64.")

The data type of the `npi` column is int64.

In [9]:
# 3.4 
print("The National Provider Identifier (NPI) is a Health Insurance Portability and Accountability Act (HIPAA) Administrative Simplification Standard. The NPI is a unique identification number for covered health care providers. ")

The National Provider Identifier (NPI) is a Health Insurance Portability and Accountability Act (HIPAA) Administrative Simplification Standard. The NPI is a unique identification number for covered health care providers.

## Question 4
Take a look at the `nppes_provider_state` column. Compute the number of unique values in this column using at least two different methods.

In [10]:
# method 1 
part_d['nppes_provider_state'].nunique()

55

In [11]:
# method 2 
len(part_d.nppes_provider_state.unique())

55

## Question 5
Let's take a look at the `specialty_description` column. Use the `value_counts()` method to determine the TOP 5 specialties in the dataset as well as their frequencies.

In [12]:
part_d['specialty_description'].value_counts()[0:4]

Nurse Practitioner    785
Dentist               647
Internal Medicine     626
Family Practice       565
Name: specialty_description, dtype: int64

## Question 6
This question has four parts:
1. Define a variable `N` equal to the number of rows in the DataFrame, using the DataFrame `len` or `shape` methods.
2. Append the `cumsum()` function to the output of the `value_counts()` function on the `specialty_description` field  and divide the output by `N` to obtain the cumulative ratio to the total count. 
3. Create a boolean variable (eg a mask) which resolves to `True` if the cumulative sum is less than 75%, else `False`.
4. Use this boolean mask to filter the output of `value_counts()` to identify the records that contribute to the first 75% of all specialities.

In [13]:
# 6.1 N gives number of row count
N = part_d.shape[0]   

#6.2   cumulative_ratio
cumulative_ratio = part_d['specialty_description'].value_counts().cumsum()/N

In [14]:
# 6.3 & 6.4 
mask  = list()
for i in cumulative_ratio:
    if i > 0.75:
        mask.append(True)
    else:
        mask.append(False)

In [15]:
cumulative_ratio_df = cumulative_ratio.to_frame()
cumulative_ratio_df['Top75%']=mask
cumulative_ratio_df[cumulative_ratio_df['Top75%']==False]

,specialty_description,Top75%
Nurse Practitioner,0.134996,False
Dentist,0.246260,False
Internal Medicine,0.353912,False
Family Practice,0.451075,False
Physician Assistant,0.527773,False
Student in an Organized Health Care Education/Training Program,0.570765,False
Emergency Medicine,0.613758,False
Obstetrics & Gynecology,0.648667,False
Optometry,0.677558,False
Psychiatry,0.703697,False
General Surgery,0.724506,False
Ophthalmology,0.744282,False

## Question 7:
Take a look at these two columns: `total_claim_count` and `opioid_claim_count`. Define a new column that stores the ratio of the two, eg:
```python
part_d['opioid_claim_rate'] = part_d['opioid_claim_count']/part_d['total_claim_count']
```
Let us define **high opioid providers** as those who have an `opioid_claim_rate` that is greater than or equal to 50%. This question has three parts:
1. Run the describe method on the `opioid_claim_rate` column and note the statistics.
2. Use TWO different methods to calculate how many **high opioid providers** there are in the dataset. (Hint: you can use the sum of a boolean variable for one method and the size of a filtered dataset for the other method).
3. Use TWO different methods to identify the top 3 states that have the highest number of **high opioid providers**. (Hint: you can use value_counts for one method and groupby for the other method).

In [16]:
part_d['opioid_claim_rate'] = part_d['opioid_claim_count']/part_d['total_claim_count']

In [17]:
# 7.1 
part_d['opioid_claim_rate'].describe()

count    4225.000000
mean        0.097227
std         0.164038
min         0.000000
25%         0.000000
50%         0.022523
75%         0.113238
max         1.000000
Name: opioid_claim_rate, dtype: float64

In [18]:
# 7.2 method 1.  

high_opioid_providers = list()

for i in part_d['opioid_claim_rate']:
    if i >= 0.5:
        high_opioid_providers.append(True)
print(len(high_opioid_providers))

209

In [19]:
# 7.2 method 2.  

part_d['opioid_claim_rate'][part_d['opioid_claim_rate']>= 0.5].shape[0]

209

In [20]:
# 7.3 method 1 

part_d[part_d['opioid_claim_rate']>=0.5].loc[:,'nppes_provider_state'].value_counts()[0:3]

CA    19
FL    15
MI    12
Name: nppes_provider_state, dtype: int64

In [21]:
# 7.3 method 2

part_d[part_d['opioid_claim_rate']>=0.5].groupby('nppes_provider_state').count()['opioid_claim_rate'].sort_values(ascending=False)[:3]

nppes_provider_state
CA    19
FL    15
NY    12
Name: opioid_claim_rate, dtype: int64

## Question 8:
Using the `opioid_claim_rate` column computed in the previous question:

1. Create a new DataFrame `g` that aggregates the `nppes_provider_gender` column using the `groupby` method and the `size` function to output the gender breakdown in the dataset. You can use this code to answer this question:
```python
g = part_d.groupby('nppes_provider_gender').size().reset_index()
```
2. Use the `rename` method to rename the columns of DataFrame `g` to *gender* and *count*.
3. Now compute the aggregation of the dataset by gender but filtered to the **high opioid providers**. Name the DataFrame `g2`. Rename the columns to *gender* and *high_opioid_count*.
4. Join the DataFrames g and g2 using the gender column as the key. The final result should look like this:
```
gender	count	high_opioid_count
	F	2458	62
	M	3357	147
```
5. Compute the ratio of `high_opioid_count` to `count` for each row and note the difference

In [22]:
# 8.1 create dataframe g
g = part_d.groupby('nppes_provider_gender').size().reset_index()
g

  nppes_provider_gender     0
0                     F  2458
1                     M  3357

In [23]:
# 8.2 rename the columns in g 
col1, col2 = g.columns
g_new = g.rename(columns={col1: "gender", col2: "count"})
g_new

  gender  count
0      F   2458
1      M   3357

In [24]:
# 8.3 compute the aggregation of the dataset by gender
# filtered to the high opioid providers
# Rename the columns to gender and high_opioid_count

g2 = part_d[part_d['opioid_claim_rate'] >= 0.5].groupby('nppes_provider_gender').count().iloc[:,0:1]

g2_new = g2.reset_index().rename(columns = {"nppes_provider_gender": "gender", "npi":"high_opioid_count"})
g2_new

  gender  high_opioid_count
0      F                 62
1      M                147

In [25]:
# 8.4 Join the DataFrames g and g2 using the gender column as the key

g3 = g_new.set_index("gender").join(g2_new.set_index("gender"))
g3

        count  high_opioid_count
gender
F        2458                 62
M        3357                147

In [26]:
# 8.5 Compute the ratio of high_opioid_count to count for each row and note the difference

g3["ratio_hoc_count"] = g3["high_opioid_count"]/ g3["count"]
g3

print("In each gender group, more percentage of males who are high opioid providers is higher than felmale's.")

In each gender group, more percentage of males who are high opioid providers is higher than felmale's.

## Question 9:
The Office of Inspector General ([OIG](https://oig.hhs.gov/)) has the authority to **exclude** individuals and entities from Federally funded health care programs. To be excluded is quite serious, as you can see from their website:

>The OIG maintains a list of all currently excluded individuals and entities called the List of Excluded Individuals/Entities (LEIE). Anyone who hires an individual or entity on the LEIE may be subject to civil monetary penalties (CMP). To avoid CMP liability, health care entities should routinely check the list to ensure that new hires and current employees are not on it.

This list is publicaly available, [here](https://oig.hhs.gov/exclusions/exclusions_list.asp). I have downloaded this file in its entirety (in December 2020) and have stripped it down to the columns we need.

Load the provided file into a DataFrame, named `exclusions`:

```python
exclusions = pd.read_csv('physicians_exclusions_sample3.csv')
```
This question has a number of parts:

1. Print the number of rows and columns in the exclusions dataset.
2. Display the first 6 rows the DataFrame. 
3. Display 3 random rows of the DataFrame using the `sample` method.
4. Use the `nunique` method to determine the number of unique NPIs. Compare this to the size of the dataset - what do you observe?
5. Are there any NULL `NPI` values?
6. What is the most frequent `NPI` value?
7. Apply the `unique` method to the NPI column and convert the outcome to a list of NPIs (hint use the `tolist` method). Store the output in a variable called `npis`. What is the length of `npis`?
8. Apply the `isin` method to `part_d` to tag the rows whose NPI is in the list of excluded NPIs. You can use the following code. How many records are there in `excluded1`?
```python
excluded1 = part_d[part_d['npi'].isin(npis)]
```

In [27]:
exclusions = pd.read_csv('physicians_exclusions_sample3.csv')

In [28]:
# 9.1 Print the number of rows and columns in the exclusions dataset
exclusions_row = exclusions.shape[0]   
exclusions_col = exclusions.shape[1] 

print('number of rows', exclusions_row)
print('number of columns', exclusions_col)

number of rows 69858
number of columns 4

In [29]:
# 9.2 the first 6 rows the DataFrame
exclusions.head(6)

   LASTNAME    FIRSTNAME STATE  NPI
0   AALDERS        NANCY    IL    0
1  AALTONEN     NICKOLAS    WA    0
2     AAMIR     MUHAMMAD    MI    0
3     AARON        ALINA    AZ    0
4     AARON  CHRISTOPHER    PA    0
5     AARON      DEBORAH    TX    0

In [30]:
# 9.3 Display 3 random rows of the DataFrame using the sample method
exclusions.sample(n =3)

       LASTNAME FIRSTNAME STATE  NPI
48704     PEREZ      ALDO    FL    0
8305   BUCHFINK      KYLE    OK    0
48953     PERRY   MICHAEL    TX    0

In [31]:
# 9.4 Use the nunique method to determine the number of unique NPIs. 
# Compare this to the size of the dataset - what do you observe?

print(exclusions['NPI'].nunique())
print("There are 69858 NPIs in total from the dataset, but the unique NPI are 5200. This means that there are 64,658 NPIs are repeated values.")

5200
There are 69858 NPIs in total from the dataset, but the unique NPI are 5200. This means that there are 64,658 NPIs are repeated values.

In [32]:
# 9.5 Are there any NULL NPI values?
print(exclusions['NPI'].isnull().values.any())
print("No null value")

False
No null value

In [33]:
# 9.6 What is the most frequent NPI value?
exclusions['NPI'].value_counts().idxmax()   
print("0 is the most frequent NPI value. ")

0 is the most frequent NPI value.

In [34]:
# 9.7 Apply the unique method to the NPI column and 
# convert the outcome to a list of NPIs (hint use the tolist method). 
# Store the output in a variable called npis. What is the length of npis?

unique_npi = exclusions['NPI'].unique().tolist()
len(unique_npi)

5200

In [35]:
# 9.8 Apply the isin method to part_d to tag the rows whose NPI is in the list of excluded NPIs. 
# You can use the following code. How many records are there in excluded1?

npi_checker = part_d[part_d['npi'].isin(unique_npi)]
npi_checker.shape[0] # row in npi_checker

2

## Question 10
In question 9 we searched for records in the part_d DataFrame whose NPI was in the exclusions dataset. Matching across the NPI yielded only 2 excluded providers. This seems suspicious. The problem is probably due to the fact that so many of the NPIs in the excluded dataset are marked as `0`. Perhaps we can do better by matching across first and last names. Let's do that in these steps.
1. As a sanity check, let's first do a merge between the two datasets on NPI. Your results should confirm the result obtained in question 9. For convenience, define this list of columns:
```python
cols = [
    'npi', 
    'nppes_provider_first_name', 
    'nppes_provider_last_org_name', 
    'nppes_provider_state', 
    'NPI',
    'FIRSTNAME',
    'LASTNAME',
    'STATE',
    'opioid_claim_rate'
]
```
Perform the merge and display the output for the columns in `cols`. You can use the following code to answer this question:
```python
excluded2 = pd.merge(left = part_d, right = exclusions, how = 'inner', 
         left_on = ['npi'],
         right_on = ['NPI']
        )
excluded2[cols]
```
Your results should match the results from Question 9.


2. Since we are going to match across names, let's first convert the applicable columns to upper case and strip out any leading or trailing spaces. You can use the following code to answer this question but you'll need to apply it to the remaining first and last name columns, eg 'nppes_provider_first_name', 'nppes_provider_last_org_name', 'FIRSTNAME' and 'LASTNAME'
```python
part_d['nppes_provider_first_name'] = part_d['nppes_provider_first_name'].str.upper().str.strip()
```

3. Run another inner join across both datasets using first and last names. My result had 435 rows. Please take a look at the dataset filtering on the columns in `cols` as done above. What do you notice? 


4. In order to conduct a better quality match, include the state in your join keys. You should now be matching on first name, last name and state. My result had 22 records. I feel more confident in this match since the names and state lines up. You'll notice that some of the providers have 0 `opioid_claim_rate`. This is not that surprising as there are many different kinds of behaviors that a provider can engage in in order to get on the exclusisons list.

In [40]:
# 10.1 
cols = [
    'npi', 
    'nppes_provider_first_name', 
    'nppes_provider_last_org_name', 
    'nppes_provider_state', 
    'NPI',
    'FIRSTNAME',
    'LASTNAME',
    'STATE',
    'opioid_claim_rate'
]

excluded2 = pd.merge(left = part_d, right = exclusions, how = 'inner', 
      left_on = ['npi'],
      right_on = ['NPI']
     )
excluded2[cols]

,npi,nppes_provider_first_name,nppes_provider_last_org_name,nppes_provider_state,NPI,FIRSTNAME,LASTNAME,STATE,opioid_claim_rate
0,1659506111,DESMOND,FRANCIS,NY,1659506111,DESMOND,FRANCIS,NY,0.089926
1,1770505612,HARRISON,YANG,TN,1770505612,HARRISON,YANG,TN,0.119433

In [37]:
# 10.2  convert the applicable columns to upper case and 
#  strip out any leading or trailing spaces  

# For part_d dataset
part_d['nppes_provider_first_name'] = part_d['nppes_provider_first_name'].str.upper().str.strip()
part_d['nppes_provider_last_org_name'] = part_d['nppes_provider_last_org_name'].str.upper().str.strip()

# For exclusions dataset
exclusions['FIRSTNAME'] = exclusions['FIRSTNAME'].str.upper().str.strip()
exclusions['LASTNAME'] = exclusions['LASTNAME'].str.upper().str.strip()

In [45]:
# 10.3 Run another inner join across both datasets using first and last names 
# My result had 435 rows. Please take a look at the dataset filtering on the columns in cols as done above. What do you notice?

merge1 = pd.merge(left = part_d, right = exclusions, how = 'inner', 
      left_on = ['nppes_provider_first_name','nppes_provider_last_org_name'],
      right_on = ['FIRSTNAME','LASTNAME'])

print("There are", merge1.shape[0], "rows in the newly merged dataset.")
print("I observed that there are many more matching records when we use first & last name to join the datasets.")

There are 435 rows in the newly merged dataset.
I observed that there are many more matching records when we use first & last name to join the datasets.

In [48]:
# 10.4 You should now be matching on first name, last name and state. 
# My result had 22 records. 

merge2 = pd.merge(left = part_d, right = exclusions, how = 'inner', 
      left_on = ['nppes_provider_first_name','nppes_provider_last_org_name','nppes_provider_state'],
      right_on = ['FIRSTNAME','LASTNAME','STATE']
     )

print("There are", merge2.shape[0],"records when matching on first name, last name & states.")

There are 22 records when matching on first name, last name & states.